strict-peer-dependencies=false
# Don't auto-install peer deps (including optional ones like moment).
# We explicitly declare all dependencies we need.
auto-install-peers=false
# This is a workaround for VSCode's Eslint extension not loading plugins correctly,
# see: https://github.com/pnpm/pnpm/issues/5447
public-hoist-pattern[]=*eslint*
node-linker=hoisted
# pnpm 11 blocks exotic subdependencies by default, but @reforged/maker-appimage
# depends on @electron/node-gyp via git tarball. Allow it for build tooling.
block-exotic-subdeps=false
onlyBuiltDependencies[]=@swc/core
onlyBuiltDependencies[]=better-sqlite3
onlyBuiltDependencies[]=dprint
onlyBuiltDependencies[]=dugite
onlyBuiltDependencies[]=electron-winstaller
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=nsfw
onlyBuiltDependencies[]=registry-js
onlyBuiltDependencies[]=unrs-resolver
